*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(105, 60, 0);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo{
  display: flex;
  flex-direction: column;
}

.logo h1, .logo p{
  text-align: center;
  font-style: italic;
  cursor: default;
}

.logo h1{
  color: rgb(255, 255, 255);
}

.logo h1 span{
  color: rgb(248, 248, 23);
}

.logo p{
  color: white;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

.navbar-menu a{
  display: inline-block;
  margin: 0 1.5rem;
  color: white;
  transition: 0.3s;
}

.navbar-menu a::after{
  content: "";
  display: block;
  border-bottom: 0.2rem solid white;
  transform: scaleX(0);
  transition: 0.3s;
}

.navbar-menu a:hover::after{
  transform: scaleX(1);
}

.ham-menu{
  display: none;
}

/* 1ST PAGE  */
.main-page{
  width: 100%;
  height: 100vh;
  background-image: url(img/bg-1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  width: 30rem;
  height: 10rem;
  background-color: rgb(165, 42, 42, 0.8);
  border: 0.2rem solid white;
  border-radius: 10px;
  z-index: 1;
}

.profile{
  position: absolute;
  bottom: 10%;
  left: 5%;
  padding: 2rem;
}

.profile h1{
  text-align: center;
  color: white;
}

.profile p{
  text-align: justify;
  color: white;
}

.welcome{
  position: absolute;
  background-color: transparent;
  border: none;
  width: 80%;
  top: 12%;
  right: 5%;
}

.welcome h1, .welcome h2{
  text-align: right;
  -webkit-text-stroke: 0.1rem black;
}

.welcome h1{
  font-size: 2.5rem;
  color: white;
}

.welcome h2{
  font-size: 2rem;
  color: yellow;
}

.gradasi-hitam{
  width: 100%;
  height: 100vh;
  background: linear-gradient(gray, rgba(0,0,0,1));
  opacity: 0.6;
}

/* 2ND PAGE STYLES */
.product{
  width: 100%;
  height: 100vh;
  max-width: 1160px;
  background-color: #333;
  padding: 6rem 7% 1.5rem;
}

.product .products{
  width: 80%;
  height: 80%;
  display: block;
  margin: 1rem auto;
}

.product .products img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem 4rem;
  cursor: pointer;
  transition: 0.3s;
}

.product .products img:hover{
  transform: scale(1.2);
}

.product .products article{
  display: inline-block;
  width: 18rem;
  height: 14rem;
  overflow: hidden;
}

.product-active{
  width: 50rem !important;
  height: 35rem !important;
  border: 0.8rem solid white;
  background-color: white;
  margin: 0;
  border-radius: 0.8rem;
  position: absolute;
}

.img-product-active{
  display: block;
  width: 15rem !important;
  height: 15rem !important;
  border-radius: 0.8rem !important;;
  margin: 2rem auto !important;
}

.product h4{
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

.info-product{
  text-align: center;
  margin: 1rem;
}

.price{
  font-size: 1.6rem;
  color: yellowgreen;
  text-align: center;
  font-weight: bold;
}

.product h2{
  display: block;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.product h2 span{
  color: yellow;
}

.product-cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: yellowgreen;
  margin: 1rem auto;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 0.2rem solid yellowgreen;
  background-color: transparent;
  transition: 0.3s;
}

.product-cart:hover{
  transform: scale(1.2);
  background-color: yellowgreen;
  border: none;
  color: white;
}

.product .cta{
  text-align: center;
  margin: 0 auto;
  width: 25%;
  color: brown;
  font-weight: bold;
  background-color: transparent;
  font-size: 1.6rem;
  border: 0.3rem solid white;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.cta:hover{
  background-color: yellowgreen;
  border : none;
  color: white;
  transform: scale(1.2);
}

/* TABLET ORIENTATION */

@media(max-width: 768px){
  html{
    font-size: 75%;
  }
  .ham-menu{
    display: block;
    color: white;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s;
  }

  .ham-menu-active{
    background-color: burlywood;
  }

  .navbar-menu{
    position: absolute;
    top: 5rem;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-menu a{
    color: white;
    text-align: center;
    padding: 1rem 2rem;
  }

  .navbar-menu-active{
    right: 0;
  }

  .container{
    width: 20rem;
    height: 10rem;
    border: 0.2rem solid white;
    border-radius: 10px;
  }

  .welcome{
    top: 20%;
    border: none;
  }
}