*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(105, 60, 0);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo{
  display: flex;
  flex-direction: column;
}

.logo h1, .logo p{
  text-align: center;
  font-style: italic;
  cursor: default;
}

.logo h1{
  color: rgb(255, 255, 255);
}

.logo h1 span{
  color: rgb(248, 248, 23);
}

.logo p{
  color: white;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

.navbar-menu a{
  display: inline-block;
  margin: 0 1.5rem;
  color: white;
  transition: 0.3s;
}

.navbar-menu a::after{
  content: "";
  display: block;
  border-bottom: 0.2rem solid white;
  transform: scaleX(0);
  transition: 0.3s;
}

.navbar-menu a:hover::after{
  transform: scaleX(1);
}

.ham-menu{
  display: none;
}

/* 1ST PAGE  */
.main-page{
  width: 100%;
  height: 100vh;
  background-image: url(img/bg-1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  width: 30rem;
  height: 10rem;
  background-color: rgb(165, 42, 42, 0.8);
  border: 0.2rem solid white;
  border-radius: 10px;
}

.profile{
  position: absolute;
  bottom: 10%;
  left: 5%;
  padding: 2rem;
}

.profile h1{
  text-align: center;
  color: white;
}

.profile p{
  text-align: justify;
  color: white;
}

.welcome{
  position: absolute;
  background-color: transparent;
  border: none;
  width: 80%;
  top: 12%;
  right: 5%;
}

.welcome h1, .welcome h2{
  text-align: right;
  -webkit-text-stroke: 0.1rem black;
}

.welcome h1{
  font-size: 2.5rem;
  color: white;
}

.welcome h2{
  font-size: 2rem;
  color: yellow;
}

/* TABLET ORIENTATION */

@media(max-width: 768px){
  .ham-menu{
    display: block;
    color: white;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s;
  }

  .ham-menu-active{
    background-color: burlywood;
  }

  .navbar-menu{
    position: absolute;
    top: 4.75rem;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-menu a{
    color: white;
    text-align: center;
    padding: 1rem 2rem;
  }

  .navbar-menu-active{
    right: 0;
  }
}